<div class="row">
	<div class="col col-left">
		<ol class="breadcrumb" style="background-color: #039be5">
			<li class="breadcrumb-item active" style="color: white">// Mechanic / Dashboard</li>
		</ol>
	</div>
</div>
<div *ngFor="let currentMech of mechanic | async">
	<div class="rela-block container no-margin">
		<div class="rela-block profile-card no-margin">
			<div class="rela-block profile-name-container">
				<div class="container-fluid">
					<img id="profile_pic" class="profile-pic" [src]="currentMech.photoUrl" alt="Card image cap">
					<div *ngIf="hover">
						<app-upload-form [elementId] = 'elementId' [type]='type'></app-upload-form>
						<button class="btn btn-danger" (click)="myEventOut($event)"> X </button>
					</div>
				</div>

				<div class="rela-block user-name" id="user_name">{{ currentMech.firstName }} {{ currentMech.lastName }}</div>
				<div class="rela-block user-desc" id="user_description">{{ currentMech.position}}</div>
			</div>
			<div class="rela-block profile-card-stats">
				<div class="floated profile-stat works" id="num_works">{{currentMech.rating}}<br></div>
				<div class="floated profile-stat followers" id="num_followers">{{currentMech.workPlace}}<br></div>
				<div class="floated profile-stat following" id="num_following">{{currentMech.workExperience}} years<br></div>
			</div>
		</div>
		<br>
	</div>
</div>

