<div *ngFor="let user of users | async" >
<div  class="rela-block container">
  <div class="rela-block profile-card">
    <a class="btn" routerLink="edit-user"><i class="fa fa-edit float-right" aria-hidden="true"></i></a>
    <div class="rela-block profile-name-container">
      <div class="container-fluid">
      <img (click)="myEvent($event)"  id="profile_pic" class="profile-pic" [src]="user.photoUrl" alt="Card image cap" >
        <div *ngIf="hover">
          <app-upload-form [elementId] = 'elementId' [type]='type'></app-upload-form>
          <button class="btn btn-danger" (click)="myEventOut($event)"> X </button>
        </div>
      </div>
      <div class="rela-block user-name" id="user_name">{{ user.firstName }} {{ user.lastName }}</div>
      <div class="rela-block user-desc" id="user_description">{{ user.shortIntro}}</div>
    </div>
    <div class="rela-block profile-card-stats">
      <div class="floated profile-stat works" id="num_works">{{user.rating}}<br></div>
      <div class="floated profile-stat following" id="num_followers">{{user.myMechanics ? user.myMechanics  : '0'}}<br></div>
      <div class="floated profile-stat followers" id="num_following">{{user.myCars ? user.myCars.count().toString()  : '0'}}<br></div>
    </div>
  </div>
<br>
  <div *ngIf="user.mycars">
  <app-user-car></app-user-car>
  </div>
</div>
  <div class="rela-block container">
    <div class="rela-block profile-card">
      <div class="rela-block profile-name-container">
        <a class="btn btn-success" routerLink="register-car"><i class="fa fa-plus" aria-hidden="true"></i> ADD A CAR</a>
      </div>
    </div>
  </div>
</div>
