<h1>Dashboard</h1>
<div *ngFor="let user of users | async" >
<div class="rela-block container">
  <div class="rela-block profile-card">
    <div class="rela-block profile-name-container">
      <div class="container-fluid">
      <img id="profile_pic" class="profile-pic" [src]="user.photoUrl" alt="Card image cap">
        <app-user-upload-photo></app-user-upload-photo>
      </div>

      <div class="rela-block user-name" id="user_name">{{ user.firstName }} {{ user.lastName }}</div>
      <div class="rela-block user-desc" id="user_description">{{ user.shortIntro}}</div>
    </div>
    <div class="rela-block profile-card-stats">
      <div class="floated profile-stat works" id="num_works">{{user.rating}}<br></div>
      <div class="floated profile-stat followers" id="num_followers">{{user.myMechanics}}<br></div>
      <div class="floated profile-stat following" id="num_following">{{user.myFriends}}<br></div>
    </div>
  </div>
<br>
  <div *ngIf="user.mycars">
  <app-user-car></app-user-car>
  </div>
</div>
  <div class="rela-block container">
    <div class="rela-block profile-card">
      <div class="rela-block profile-name-container">
        <a class="btn btn-success" routerLink="register-car"><i class="fa fa-plus" aria-hidden="true"></i> ADD A CAR</a>
      </div>
    </div>
  </div>
</div>
