<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-offset-8 text">
          <h1><strong>Hey there !</strong> Log your car !</h1>
          <div class="description">
            <p>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>Register in our System</h3>
              <p>Enter info about your car</p>
            </div>
            <div class="form-top-right">
              <i class="fa fa-key"></i>
            </div>
          </div>
          <div class="form-bottom">
            <form (ngSubmit)="onSignUpS(f)" #f="ngForm">
              <div class="form-group">
                <label class="sr-only" for="form-km">KM</label>
                <input type="number" id="km" name="km" required ngModel class="form-control" placeholder="KM..." class="form-km form-control" id="form-km">
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-licensePlate">License Plate</label>
                <input type="text" id="licensePlate" name="licensePlate" required ngModel class="form-control" placeholder="License Plate..." class="form-licensePlate form-control" id="form-licensePlate">
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-make">Make</label>
                <input type="text" id="make" name="make" required ngModel class="form-control" placeholder="Make..." class="form-make form-control" id="form-make">
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-model">First name</label>
                <input type="text" id="model" name="model" required ngModel class="form-control" placeholder="Model..." class="form-model form-control" id="form-model">
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-year">Last name</label>
                <input type="number" id="year" name="year" required ngModel class="form-control" placeholder="Year..." class="form-year form-control" id="form-year">
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-power">Power</label>
                <input type="number" id="power" name="power" required ngModel class="form-control" placeholder="Power..." class="form-power form-control" id="form-power">
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-lastOilChange">Last Oil Change</label>
                <input type="date" id="lastOilChange" name="lastOilChange" required ngModel class="form-control" placeholder="Last Oil Change..." class="form-lastOilChange form-control" id="form-lastOilChange">
              </div>
              <button type="submit" class="btn" ng-click="submit()">Register Car !</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
</div>
