body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
  color: #4aaf51;
  text-decoration: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.card{
  padding:20px;
  margin: 10px;
  min-height: 230px;
  opacity: .97;
}

h1, h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  color: #555;
  line-height: 50px;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #4aaf51; color: #fff; text-shadow: none; }
::selection { background: #4aaf51; color: #333; text-shadow: none; }

/***** Top content *****/

.inner-bg {
  width: 100%;
  padding: 100px 0 170px 35%;
}

.top-content{
  background: url('https://68.media.tumblr.com/ae05f0bde3743566740ad865a9269449/tumblr_o7i72a0S4D1t0bo4to1_500.gif') no-repeat 0px 0px;
  background-size: cover;
  opacity: 0.9;
}

.top-content .text {
  color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
  margin: 20px 0 10px 0;
}
.div-size{
  min-height: 100%;
}
.top-content .description p { opacity: 0.8; }

.top-content .description a {
  color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

  .inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {

  h1, h2 { font-size: 32px; }

}


