<div class="top-content">
    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-offset-8 text">
          <h1><strong>Hey there !</strong> Sign up Now !</h1>
          <div class="description">
            <p>
              You can register as a User, Mechanic or Car Service
            </p>
          </div>
        </div>
      </div>
      <div class="row options">
        <div class="col-xs-4 card text-center" style="width: 20rem;">
          <div class="card-block">
            <h3 class="card-title">User</h3>
            <p class="card-text">You can add all your cars and manage their needs</p>
            <a routerLink="/users/signup">
              <i class="fa fa-car fa-4x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-xs-4 card text-center" style="width: 20rem;">
          <div class="card-block">
            <h3 class="card-title">Mechanic</h3>
            <p class="card-text">You can see al your clients and be part of a car service.</p>
            <a routerLink="/mechanics/signup">
              <i class="fa fa-wrench fa-4x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-xs-4 card text-center" style="width: 20rem;">
          <div class="card-block">
            <h3 class="card-title">Car Service</h3>
            <p class="card-text">You can manage the work of owned Car Service along with its mechanics.</p>
            <a routerLink="/carservices/signup">
              <i class="fa fa-home fa-4x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>

