<div class="container">
	<h1>// All mechanics</h1>
	<div class="row mechanics-list">
		<div *ngFor="let mechanic of users | async" class="card col-xs-4" style="width: 20rem;">
			<img class="img-mechanic" [src]="mechanic._photoUrl" alt="Card image cap">
			<div class="card-block">
				<h4 class="card-title">{{ mechanic.firstName }} {{ mechanic.lastName }}</h4>
				<p class="card-text fa fa-envelope-o"> {{ mechanic.email }}</p>
				<p class="card-text">{{ mechanic.rating }}</p>
				<a [routerLink]="['/mechanics', mechanic.id]" class="btn btn-primary">View profile</a>
			</div>
			<div class="card-footer">
				<small class="text-muted">Last updated 3 mins ago</small>
			</div>
		</div>
	</div>
</div>
