* {
    box-sizing: border-box;
    -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
    transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
}
.rela-block {
    display: block;
    position: relative;
    margin: auto;

}
.floated {
    display: inline-block;
    position: relative;

    float: left;
}
.floated.right {
    float: right;
}

body {
    font-family: "Roboto";
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 24px;
    background-color: #f4f4f4;
}
.container {
    background-color: #f4f4f4;
    z-index: 1;
    width: 92%;
    margin: 70px auto;
    padding:0px 0;
    border-radius: 2%;
}

.profile-card {
    width: calc(100% - 40px);
    padding-top: 15px;
    margin: 0 auto 30px;
    background-color: #fff;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
}
.profile-pic {
    /* position: relative; */
    top: -90px;
    margin-left: 12%;
    -webkit-transform: translateX(-50%);
    /* transform: translateX(-50%); */
    height: 180px;
    width: 180px;
    border: 10px solid #fff;
    border-radius: 100%;
    float: left;
    /* background: url(https://pbs.twimg.com/media/CdbiubzVIAANj8J.jpg) center no-repeat; */
    background-size: cover;
}
.profile-name-container {
    margin: 0 auto 10px;
    padding: 10px;
    text-align: center;
}
.user-name {
    font-family: "Montserrat";
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 12px;
}
.user-desc {
    letter-spacing: 1px;
    color: #999;
}
.profile-card-stats {
    height: 75px;
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
}
.profile-stat {
    height: 100%;
    width: 33.3333%;
}
.profile-stat:after {
    color: #999;
}
.works::after {
    content: "rating";
}
.followers::after {
    content: "workplace";
}
.following::after {
    content: "work expirience";
}

.col-left {
    margin-left: 50px;
}

.no-margin {
    margin-top: 0;
}