<div class="row service-details">
	<div class="col-md-12 text-center ">
		<div class="panel panel-default">
			<div class="userprofile social ">
				<div class="userpic"> <img [src]="detailedService?.photoUrl" alt="" class="userpicimg"> </div>
				<h3 class="username">{{ detailedService?.firstName }} {{detailedService?.lastName}}</h3>
				<p>{{ detailedService?.workPlace }}</p>
			</div>
			<div class="col-md-12 border-top border-bottom">
				<ul class="nav nav-pills pull-left countlist" role="tablist">
					<li role="presentation">
						<h3>0<br>
							<small>Clients</small> </h3>
					</li>
					<li role="presentation">
						<h3>0<br>
							<small>Repairs</small> </h3>
					</li>
					<li role="presentation">
						<h3>{{ detailedService?.rating }}<br>
							<small>Rating</small> </h3>
					</li>
					<li *ngIf="currentUser" role="presentation">
						<app-star-rating [currentUid]="currentUid" [detailedUser]="detailedService"></app-star-rating>
					</li>
				</ul>
				<button disabled class="btn btn-primary followbtn">Follow</button>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- /.col-md-12 -->
	<div class="col-md-4 col-sm-12 pull-right">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="page-header small">Personal Details</h1>
				<p class="page-subtitle small">Email: {{detailedService?.email}}</p>
				<p class="page-subtitle small">Postition: {{detailedService?.position}}</p>
				<p class="page-subtitle small">Work Experience: {{detailedService?.workExperience}} years</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="page-header small">Clients</h1>
				<p class="page-subtitle small"></p>
			</div>
			<div class="col-md-12">
				<div class="memberblock"> <a href="" class="member"> <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
					<div class="memmbername">Ajay Sriram</div>
				</a> <a href="" class="member"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
				</a> </div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-md-8 col-sm-12 pull-left posttimeline">
		<app-mechanic-comments></app-mechanic-comments>
	</div>
</div>