<div *ngIf="isSingIn && !itsMe; else isSingOut">
	<div class="panel panel-default">
		<div class="col-md-12 border-top">
			<div class="status-upload">
				<form (ngSubmit)="createComment(f)" #f="ngForm">
					<label>Comment</label>
					<textarea class="form-control" placeholder="Comment here" name="comments" required
							  ngModel></textarea>
					<br>
					<ul class="nav nav-pills pull-left ">
						<li><a title=""><i class="glyphicon glyphicon-bullhorn"></i></a></li>
						<li><a title=""><i class=" glyphicon glyphicon-facetime-video"></i></a></li>
						<li><a title=""><i class="glyphicon glyphicon-picture"></i></a></li>
					</ul>
					<button type="submit" class="btn btn-success pull-right"> Comment</button>
				</form>
			</div>
		</div>
	</div>
	<div *ngFor="let comment of comments | async" class="comments-container">
		<div class="panel panel-default">
			<div class="col-md-12">
				<div class="media">
					<div class="media-left"><a href="javascript:void(0)">
						<img *ngFor="let commentAuthor of hack(comment.author)" [src]="commentAuthor[1].photoUrl" alt="" class="media-object"> </a>
					</div>
					<div class="media-body">
						<h4 *ngFor="let commentAuthor of hack(comment.author)" class="media-heading"> {{commentAuthor[1].firstName}} {{commentAuthor[1].lastName}}<br>
							<small><i class="fa fa-clock-o"></i> {{comment.createdOn | timeAgo}}</small>
						</h4>
						<p>{{comment.content}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #isSingOut>
	<div *ngFor="let comment of comments | async" class="comments-container">
		<div class="panel panel-default">
			<div class="col-md-12">
				<div class="media">
					<div class="media-left"><a href="javascript:void(0)">
						<img *ngFor="let commentAuthor of hack(comment.author)" alt="" class="media-object"> </a>
					</div>
					<div class="media-body">
						<h4 *ngFor="let commentAuthor of hack(comment.author)" class="media-heading"> {{commentAuthor[1].firstName}} {{commentAuthor[1].lastName}}<br>
							<small><i class="fa fa-clock-o"></i> {{comment.createdOn | timeAgo}}</small>
						</h4>
						<p>{{comment.content}}</p>
						<ul class="nav nav-pills pull-left ">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>