.add-comment {
    margin: 50px 50px;
}

.btn-submit {
    margin-top: 6px;
}

.comments-container {
    margin: 50px 50px;
}

.author-photo {
    width: 130px;
}

.time-pipe {
    font-style: italic;
    color: #039be5;
}

.author-name {
    font-style: italic;
    font-weight: bold;
}