<div class="add-comment">
	<form (ngSubmit)="createComment(f)" #f="ngForm">
					<textarea class="form-control" name="comments" cols="10" rows="5"
							  placeholder="Add a comment..." required ngModel></textarea>
	<button class="btn btn-primary btn-circle pull-right btn-submit" type="submit">
		<i class="fa fa-paper-plane" aria-hidden="true"> Send</i>
	</button>
	</form>
</div>
<div *ngFor="let comment of mechanic | async" class="comments-container">
	<div class="media">
		<img class="d-flex align-self-start mr-3" src="#" alt="Profile Image">
		<div class="media-body">
			<h5 class="mt-0">{{comment.author}}</h5>
			<p class="text-justify">{{comment.content}}</p>
		</div>
	</div>
	<hr>
</div>
