<div *ngFor="let ourRole of wantedUser | async" >
  <div *ngIf="ourRole.role=='user';then isUser"></div>
  <ng-template #isUser>
	  <div class="area"></div>
	  <nav class="main-menu">
		  <ul>
			  <li>
				  <a routerLink="/users/dashboard">
					  <i class="fa fa-tachometer" aria-hidden="true"></i>
					  <span class="nav-text">Dashboard</span>
					  <span class="sr-only">(current)</span>
				  </a>
			  </li>
			  <li class="has-subnav">
				  <a routerLink="users/repairs">
					  <i class="fa fa-list" aria-hidden="true"></i>
					  <span class="nav-text">Repairs</span>
				  </a>
			  </li>
			  <li class="has-subnav">
				  <a routerLink="users/analytics">
					  <i class="fa fa-bar-chart" aria-hidden="true"></i>
					  <span class="nav-text">Analytics</span>
				  </a>
			  </li>
			  <li class="has-subnav">
				  <a routerLink="users/exportPdf">
					  <i class="fa fa-file-text" aria-hidden="true"></i>
					  <span class="nav-text">Export Pdf</span>
				  </a>
			  </li>
		  </ul>
	  </nav>
  </ng-template>
  <div *ngIf="ourRole.role=='mechanic';then isMechanic"></div>
  <ng-template #isMechanic>
	  <div class="area"></div>
	  <nav class="main-menu">
		  <ul>
			  <li>
				  <a routerLink="/mechanics/dashboard">
					  <i class="fa fa-tachometer" aria-hidden="true"></i>
					  <span class="nav-text">Dashboard</span>
					  <span class="sr-only">(current)</span>
				  </a>
			  </li>
			  <li class="has-subnav">
				  <a routerLink="/mechanics">
					  <i class="fa fa-car" aria-hidden="true"></i>
					  <span class="nav-text">Item 1</span>
					  <span class="sr-only">(current)</span>
				  </a>
			  </li>
			  <li class="has-subnav">
				  <a routerLink="/mechanics">
					  <i class="fa fa-wrench" aria-hidden="true"></i>
					  <span class="nav-text">Item 2</span>
				  </a>
			  </li>
			  <li class="has-subnav">
				  <a routerLink="/mechanics">
					  <i class="fa fa-home" aria-hidden="true"></i>
					  <span class="nav-text">Item 3</span>
				  </a>
			  </li>
		  </ul>
	  </nav>
  </ng-template>
  <div *ngIf="ourRole.role=='service';then isService"></div>
  <ng-template #isService>
	  <div class="area"></div>
	  <nav class="main-menu">
		  <ul>
			  <li>
				  <a routerLink="/services/dashboard">
					  <i class="fa fa-tachometer" aria-hidden="true"></i>
					  <span class="nav-text">Dashboard</span>
					  <span class="sr-only">(current)</span>
				  </a>
			  </li>
			  <li class="has-subnav">
				  <a routerLink="/services/mechanics">
					  <i class="fa fa-wrench" aria-hidden="true"></i>
					  <span class="nav-text">Mechanics</span>
					  <span class="sr-only">(current)</span>
				  </a>
			  </li>
			  <li class="has-subnav">
				  <a routerLink="/services/repairs">
					  <i class="fa fa-user-o" aria-hidden="true"></i>
					  <span class="nav-text">Clients / Repairs</span>
				  </a>
			  </li>
			  <li class="has-subnav">
				  <a routerLink="/services/offers">
					  <i class="fa fa-bullhorn" aria-hidden="true"></i>
					  <span class="nav-text">Offers</span>
				  </a>
			  </li>
		  </ul>
	  </nav>
  </ng-template>
</div>
