ye
{{elementId}}
{{userId}}



<div *ngFor="let car of users | async" >
  <div *ngIf="car.repair;then carCost else noRepair"></div>
  <ng-template #carCost>
    <div class="rela-block profile-card">
      <img  class="profile-pic" [src]="car.photoUrl" alt="Card image cap">
      <div class="rela-block profile-name-container">
        <div class="rela-block user-name" id="user_name">{{ car.make }} {{ car.model }}</div>
        <div class="rela-block user-desc" id="user_description">{{ car.year }}</div>
        <br>
      </div>
      <div >
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Mechanic</th>
            <th>Description</th>
            <th>Type</th>
            <th>Date</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let fuck of hack(car.repair)">
            <td>{{fuck[1].mechanicName}}</td>
            <td style="width: 50%">{{fuck[1].description}}</td>
            <td>{{fuck[1].type}}</td>
            <td>{{fuck[1].date}}</td>
            <td >{{fuck[1].price}} BGN</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
  <ng-template #noRepair>
    <div class="rela-block profile-card">
      <img  class="profile-pic" [src]="car.photoUrl" alt="Card image cap">
      <div class="rela-block profile-name-container">
        <div class="rela-block user-name" id="user_namer">{{ car.make }} {{ car.model }}</div>
        <div class="rela-block user-desc" id="user_descriptionr">{{ car.year }}</div>
        <br>
        <div class="rela-block user-desc" >YOU HAVEN'T GOT ANY LISTED REPAIRS FOR THIS CAR</div>
      </div>
      <div >
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Mechanic</th>
            <th>Description</th>
            <th>Type</th>
            <th>Date</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>

          <tr >
            <td>N/A</td>
            <td style="width: 50%">N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td >N/A BGN</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
  <a [routerLink]="['repair']" class="btn btn-primary">Add another expensive repair to this shit</a>
</div>
