<div class="dashboard">
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </div>
  <div *ngFor="let service of carService | async">
    <div class="rela-block container">
      <div class="rela-block profile-card">
        <a class="btn" data-toggle="modal" data-target="#editModal"><i class="fa fa-edit float-right" aria-hidden="true"></i></a>
        <div class="rela-block profile-name-container">
          <img (click)="show($event)" id="profile_pic" class="profile-pic" [src]="service.photoUrl" alt="Card image cap">
            <div *ngIf="isVisible">
              <app-upload-form [elementId]='uid' [type]='profileType'></app-upload-form>
              <button class="btn btn-danger" (click)="resetVisibility($event)"> X </button>
            </div>
          <div class="rela-block service-name" id="service-name">{{ service?.name }}</div>
          <div class="rela-block service-owner" id="service-owner"><span class="title">Owner: </span>{{ service?.owner }}</div>
          <div class="rela-block service-license-number" id="service-license-number"><span class="title">License number: </span>{{ service?.licenseNumber }}</div>
          <div class="rela-block service-email" id="service-email"><span class="title">Email: </span>{{ service?.email }}</div>
          <div class="rela-block service-activities" id="service-activities"><span class="title">Activities: </span>{{ service?.activities }}</div>
          <div class="rela-block service-address" id="service-address"><span class="title">Address: </span>{{ service?.address }}</div>
          <div class="rela-block service-rating" id="service-rating"><span class="title">Rating: </span>{{ service?.rating }} <i class="fa fa-star" style="color:yellow;"></i></div>      
            <!-- <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
                   <app-car-service-edit [carService]="carService"></app-car-service-edit> 
            </div> -->
        </div>
      </div>
    <br>
    </div>

      <div class="rela-block container">
        <div class="rela-block profile-card">
          <div class="rela-block profile-name-container">
            <div class="row gallery-title">
              <span>Gallery</span>
              <span class="add-img-btn">
                <button class="btn btn-lg btn-success" data-toggle="modal" data-target="#addGalleryModal"><i class="fa fa-plus" aria-hidden="true"></i>Add image</button>                
              </span>          
            </div>        
            <div class="row">
              <app-gallery [galleryImages]="galleryImages"></app-gallery>
            </div>
          </div>
        </div>
      </div>
      <div class="rela-block container">
        <div class="rela-block profile-card">
          <div class="rela-block profile-name-container">
            <div class="row mechanics-title">
              <span>Top mechanics</span>
            </div>        
            <div class="row mechanics">
              <div *ngFor="let topMechanic of topMechanics" class="col-md-4">
                <div class="card" style="width: 17rem;">
                  <img class="card-img-top" [src]="topMechanic.photoUrl" alt="Card image cap" height="210px">
                  <div class="card-block">
                    <h4 class="card-title">{{topMechanic?.firstName}} {{topMechanic?.lastName}}</h4>
                    <p class="card-text"><strong>Position: </strong>{{topMechanic?.position}}</p>
                    <p class="card-text"><strong>Rating: </strong>{{topMechanic?.rating}} <i class="fa fa-star" style="color:yellow;"></i></p>                
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div class="rela-block container">
        <div class="rela-block profile-card">
          <div class="rela-block profile-name-container">
            <div class="row comments-title"> Comments </div>        
            <div class="row">
              <!-- <div *ngFor="let comment of myComments" class="col-xs-4">
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="addGalleryModal" tabindex="-1" role="dialog" aria-labelledby="addGalleryModal" aria-hidden="true"> 
  <div class="modal-dialog">
    <div class="modal-content gallery-modal">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add new image to gallery</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>    
      </div>
      <div class="modal-body">
        <app-upload-form [elementId]='uid' [type]='type'></app-upload-form> 
      </div>
    </div>
  </div>
</div>

<app-car-service-edit [carService]="carService"></app-car-service-edit> 
