<h1>Dashboard</h1>
<div *ngFor="let service of carService | async" >
<div class="rela-block container">
  <div class="rela-block profile-card">
    <div class="rela-block profile-name-container">
      <img id="profile_pic" class="profile-pic" [src]="service.photoUrl" alt="Card image cap">
      <div class="rela-block service-name" id="service-name">{{ service.name }}</div>
      <div class="rela-block service-owner" id="service-owner">Owner: {{ service.owner }}</div>
      <div class="rela-block service-desc" id="service-desc">Activities: {{ service.activities }}</div>
    </div>
    <div class="rela-block profile-card-stats">
      <div class="floated profile-stat rating" id="num_works">{{service.rating}}<br></div>
    </div>
  </div>
<br>
  <!-- <div *ngIf="user.mycars">
  <app-user-car></app-user-car>
  </div> -->
</div>
  <div class="rela-block container">
    <div class="rela-block profile-card">
      <div class="rela-block profile-name-container">
        <div class="row gallery-title">
          <span>Gallery</span>
          <span class="add-img-btn">
            <a class="btn btn-success" routerLink="#"><i class="fa fa-plus" aria-hidden="true"></i> ADD IMAGE </a>
          </span>
        </div>        
        <div class="row">
          <!-- <div *ngFor="let m of images" class="col-xs-4">
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="rela-block container">
    <div class="rela-block profile-card">
      <div class="rela-block profile-name-container">
        <div class="row mechanics-title">
          <span>Top mechanics</span>
        </div>        
        <div class="row">
          <!-- <div *ngFor="let m of topMechanics" class="col-xs-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#">Go somewhere</a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="rela-block container">
    <div class="rela-block profile-card">
      <div class="rela-block profile-name-container">
        <div class="row comments-title"> Comments </div>        
        <div class="row">
          <!-- <div *ngFor="let m of images" class="col-xs-4">
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
