<div *ngFor="let car of users | async" >
  <div class="rela-block profile-card">
    <img  class="profile-pic" [src]="car.photoUrl" alt="Card image cap">
    <app-upload-form [elementId] = "car.licensePlate" [type] = "type"></app-upload-form>
    <div class="rela-block profile-name-container">
      <div class="rela-block user-name" id="user_name">{{ car.model }} {{ car.make }}</div>
      <div class="rela-block user-desc" id="user_description">{{ car.year }}</div>
    </div>
    <div class="rela-block profile-card-stats">
      <div class="floated profile-stat works" id="num_works">{{car.power}} bhp<br></div>
      <div class="floated profile-stat followers" id="num_followers">{{car.km}}<br></div>
      <div class="floated profile-stat following" id="num_following">14.1s<br></div>
    </div>
  </div>
</div>
